@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600');
body
{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat',sans-serif;
    background-color: red;
}
.timeline
{
    position: relative;
    margin: 50px auto;
    width: 1000px;
}